.nav-main {
  .navbar-nav {

    @media (max-width: 991.98px) {
      button.navbar-toggler {
		  box-shadow: none;
		  border: none;

      }
    }
    .nav-item {
      a {
        font-family: 'UTM Banque';
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
        color: #1f1f1f;

      }
    }
  }
}

.navbar-collapse {
  @media (max-width: 991.98px) {
    margin-top: 56px;
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;
    background: #646464CF;
    width: 100vw;
    height: 0;
    transition: 0.3s height;
     &>ul {
       & > li {
         padding-top: 10px;
         padding-bottom: 10px;
         width: 100%;
         & > a{
           width: 80%;
           height: 100%;
           display: block;
           margin: 0 auto;
           text-align: center;
           color: white !important;
         }
       }
     }
  }

  &.show {
    height: 100vh;
  }
}
